body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.flexible-container{
    margin-bottom: 200px;
}
h1{
    font-size: 50px;
}
h2 {
    font-size: 40px;;
}
.orange{
    color: orange;
}

.header {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    
}
.helf-width {
    width: 50%;
    padding-left: 6%;
    /* border: 1px solid red; */
}
.helf-width img{
    width: 85%;
}
.link-button{
    text-decoration: none; 
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
}

.dream{
    display: flex;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
   

}
#hlf-mr-l{
    padding-left: 0;
    padding-right: 12%;

}
.exparience{
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;

    margin-bottom: 200px;
}
.dream-wrap{
    display: flex;
}
.exparience-iteam{
    width: 42%;
    margin: 0 4%;
    padding-left: 40px;
    box-shadow: 0 0 20px 6px rgba(128, 128, 128, 0.418);
    /* border-left: 4px solid orange; */
    padding-bottom: 100px;;
}
#exparience-it1-br{
    border-left: 8px solid tomato;
}
#exparience-it2-br{
    border-left: 8px solid blue;
    border-image:  linear-gradient(blue, salmon);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}



